<!DOCTYPE html>
<html lang="ko">

<head>
    <title> Website</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="card - 3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://http://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js">
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="photo1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="images/p1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">Photography 1</h5>
                                                <p class="card-text">
                                                    How to Create Bootstrap Card Hover Effect ( jQuery )
                                                    In this tutorial. </p>
                                            </div>
                                            <a href="#" class="btn btn-primary stretched-link"></a>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="images/p2.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">Photography 2</h5>
                                                <p class="card-text">
                                                    How to Create Bootstrap Card Hover Effect ( jQuery )
                                                    In this tutorial. </p>
                                            </div>
                                            <a href="#" class="btn btn-primary stretched-link"></a>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="images/p3.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">Photography 3</h5>
                                                <p class="card-text">
                                                    How to Create Bootstrap Card Hover Effect ( jQuery )
                                                    In this tutorial. </p>
                                            </div>
                                            <a href="#" class="btn btn-primary stretched-link"></a>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="images/p4.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">Photography 4</h5>
                                                <p class="card-text">
                                                    How to Create Bootstrap Card Hover Effect ( jQuery )
                                                    In this tutorial. </p>
                                            </div>
                                            <a href="#" class="btn btn-primary stretched-link"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="images/p5.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">Photography 5</h5>
                                                <p class="card-text">
                                                    How to Create Bootstrap Card Hover Effect ( jQuery )
                                                    In this tutorial. </p>
                                            </div>
                                            <a href="#" class="btn btn-primary stretched-link"></a>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="images/p6.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">Photography 6</h5>
                                                <p class="card-text">
                                                    How to Create Bootstrap Card Hover Effect ( jQuery )
                                                    In this tutorial. </p>
                                            </div>
                                            <a href="#" class="btn btn-primary stretched-link"></a>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="images/p7.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">Photography 7</h5>
                                                <p class="card-text">
                                                    How to Create Bootstrap Card Hover Effect ( jQuery )
                                                    In this tutorial. </p>
                                            </div>
                                            <a href="#" class="btn btn-primary stretched-link"></a>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-lg-3">
                                        <div class="card">
                                            <img src="images/p8.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">Photography 8</h5>
                                                <p class="card-text">
                                                    How to Create Bootstrap Card Hover Effect ( jQuery )
                                                    In this tutorial. </p>
                                            </div>
                                            <a href="#" class="btn btn-primary stretched-link"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                <a href="#photo1" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#photo1" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="photo2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="images/p7.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Photography 1</h5>
                                            <p class="card-text">
                                                How to Create Bootstrap Card Hover Effect ( jQuery )
                                                In this tutorial. </p>
                                        </div>
                                        <a href="#" class="btn btn-primary stretched-link"></a>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="images/p5.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Photography 2</h5>
                                            <p class="card-text">
                                                How to Create Bootstrap Card Hover Effect ( jQuery )
                                                In this tutorial. </p>
                                        </div>
                                        <a href="#" class="btn btn-primary stretched-link"></a>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="images/p3.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Photography 3</h5>
                                            <p class="card-text">
                                                How to Create Bootstrap Card Hover Effect ( jQuery )
                                                In this tutorial. </p>
                                        </div>
                                        <a href="#" class="btn btn-primary stretched-link"></a>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="images/p1.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Photography 4</h5>
                                            <p class="card-text">
                                                How to Create Bootstrap Card Hover Effect ( jQuery )
                                                In this tutorial. </p>
                                        </div>
                                        <a href="#" class="btn btn-primary stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="images/p8.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Photography 5</h5>
                                            <p class="card-text">
                                                How to Create Bootstrap Card Hover Effect ( jQuery )
                                                In this tutorial. </p>
                                        </div>
                                        <a href="#" class="btn btn-primary stretched-link"></a>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="images/p6.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Photography 6</h5>
                                            <p class="card-text">
                                                How to Create Bootstrap Card Hover Effect ( jQuery )
                                                In this tutorial. </p>
                                        </div>
                                        <a href="#" class="btn btn-primary stretched-link"></a>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="images/p4.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Photography 7</h5>
                                            <p class="card-text">
                                                How to Create Bootstrap Card Hover Effect ( jQuery )
                                                In this tutorial. </p>
                                        </div>
                                        <a href="#" class="btn btn-primary stretched-link"></a>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-3">
                                    <div class="card">
                                        <img src="images/p2.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Photography 8</h5>
                                            <p class="card-text">
                                                How to Create Bootstrap Card Hover Effect ( jQuery )
                                                In this tutorial. </p>
                                        </div>
                                        <a href="#" class="btn btn-primary stretched-link"></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            <a href="#photo2" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#photo2" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
</div>



    <script>
        $(document).ready(function () {
            $('.col-lg-3').hover(function () {
                    $(this).animate({
                        marginTop: "-=1%"
                    }, 200);
                },
                function () {
                    $(this).animate({
                        marginTop: "0%"
                    }, 200);
                }
            );
        });
    </script>

</body>

</html>