<html>

<head>
    <title> Website</title>
    <link rel="stylesheet" href="main_style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="top-nav-bar">
        <div class="search-box">
            <i class="fa fa-bars" id="menu-btn" onclick="openmenu()"></i>
            <i class="fa fa-times" id="close-btn" onclick="closemenu()"></i>

            <img src="images/fox.png" class="logo">
            <input type="text" class="form-control">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <div class="menu-bar">
            <ul>
                <li>
                    <a href="#">Log In</a>
                </li>
            </ul>
        </div>
    </div>

    <section class="header">

        <div class="side-menu" id="side-menu">
            <ul>
                <li id="log-btn"><a class="login" href="#">Log-In</a></li>
            </ul>
            <ul>
                <li>미국<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>뉴욕</li>
                        <li>로스엔젤레스(LA)</li>
                        <li>라스베가스</li>
                    </ul>
                </li>
                <li>캐나다<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>토론토</li>
                        <li>퀘벡</li>
                        <li>벤쿠버</li>
                    </ul>
                </li>
                <li>브라질<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>상파울로</li>
                        <li>라오 데 자네이루</li>
                        <li>Sub Menu-3</li>
                    </ul>
                </li>
                <li>멕시코<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>멕시코시티</li>
                        <li>칸쿤</li>
                        <li>Sub Menu-3</li>
                    </ul>
                </li>
                <li>대한민국<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>제주도</li>
                        <li>부산</li>
                        <li>Sub Menu-3</li>
                    </ul>
                </li>
                <li>중국<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>베이징</li>
                        <li>상하이</li>
                        <li>청두</li>
                    </ul>
                </li>
                <li>일본<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>도쿄</li>
                        <li>오사카</li>
                        <li>Sub Menu-3</li>
                    </ul>
                </li>
                <li>베트남<i class="fa fa-angle-right"></i>
                    <ul>
                        <li>하노이</li>
                        <li>다낭</li>
                        <li>Sub Menu-3</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <script>
        function openmenu()
        {
            document.getElementById("side-menu").style.display="block";
            document.getElementById("menu-btn").style.display="none";
            document.getElementById("close-btn").style.display="block";
        }
        function closemenu()
        {
            document.getElementById("side-menu").style.display="none";
            document.getElementById("menu-btn").style.display="block";
            document.getElementById("close-btn").style.display="none";
        }
    </script>
    
<section class="gallery">
    <h1>
        Travelling Gallery
    </h1>
</section>
</body>

</html>
