{%load static%}
<!DOCTYPE html>
<!-- ID, 닉네임, 비밀번호, 이메일 -->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title></title>
    <style>
        span {
            font-size: 60px;
            font-weight: bold;
        }

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="{%static "css/register_style.css"%}">
    <script src="jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

<section class="register-form">
    <p><a href="{% url 'home' %}" style="color:black"><img src = "{% static 'images/fox.jpg' %}" width = "55px" height="55px" align = "middle">
        <span>여</span>행 <span>우</span>데가지<span>?</span></a></p>


        {% csrf_token %}
        <div class="row mt-5">
            <div class="col-12">
                {{error}}
            </div>
        </div>

        <p>비밀번호 재설정 메일을 보냈습니다.</p>

        <div class="btn-area">
            <button type="button" onclick="window.open('http://gmail.com') " style="background: white; color: #e9792f;">
                <img src = "{% static 'images/gmail_icon.png' %}" width="30px" align = "middle"> Go to gmail</button>
        </div>

        <div class="btn-area">
            <button type="button" onclick="window.open('http://naver.com') " style="background: white; color: #e9792f;">
                <img src = "{% static 'images/naver_icon.png' %}" width="30px" align = "middle"> Go to naver</button>
        </div>

        <div class="btn-area">
            <button type="button" onclick="location.href='../login/'" >Go to login</button>
        </div>


</section>
</div>


</body>
</html>